<nav>
    <ul>
        <li><a href="./index.ejs">Burgenis</a></li>
        <li><a href="/">Meny</a></li>
        <li class="logo"><img src="/img/logo.png" alt="Logo"></li>
        <li> <a href="/html/about.html">Om oss</a></li>
        <li><a href="tel:+4755565556">Kontakt oss</a></li>
    </ul>
</nav>
