<%- include("./partials/header") %>
<body>
    <%- include("./partials/navbar") %>
    <h1>Buying Page</h1>
    <form action="/buy" method="POST">
        <button type="submit">Buy</button>
    </form>
    <html lang="nb">

    <main>
        <div class="heroSection">
            <div class="welcome">

                <h1>Velkommen til Burgenis</h1>
                <div class="buttons">
                  <a href="/html/menu.html">  <div class="menuButton">Se meny</div></a>
                <a href="tel:+4799900111">    <div class="contactButton">Kontakt oss</div></a>
                </div>
            </div>

        </div>
        <h2>Vår meny</h2>
        <div class="menuContainer">
            <div class="pizzaContainer">
                <img src="./img/image.jpeg" alt="">
                <h2>Cheesburgenis</h2>
                <p>Ost, </p>
                <p>59 kr</p>
                <div class="addToCart">Legg til handlekurv</div>
            </div>            <div class="pizzaContainer">
                <img src="./img/image1.jpg" alt="">
                <h2>Hamburgenis</h2>
                <p>ham, </p>
                <p>58 kr</p>
                <div class="addToCart">Legg til handlekurv</div>
        </div>
    </main>
    <footer>
        <div>Burgenis</div>
        <div>Org nr: 7777 0000 1111 0000</div>
        <div><a href="./html/contact">Kontakt oss</a></div>
    </footer>

</body>
</html>
