<%- include("./partials/header") %>
<body>
    <%- include("./partials/navbar") %>
    <div class="form-container">
        <!-- Login Form -->
        <div class="login-form">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="login-username">Username:</label>
                    <input type="text" id="login-username" name="username" required>
                
                </div>
                <br>
                <div class="form-group">
                    
                    <label for="login-password">Password:</label>
                    <input type="password" id="login-password" name="password" required>
                </div>
                <br>
                <button type="submit">Login</button>
                <p>Ikke på Burgenis ennå? <a href="/register">Registrer deg</a></p>
                
            </form>
        </div>

        <!-- Create User Form -->
        
    </div>

    <script src="/app.js"></script>

       
           
        

                <!-- <p><a href="/forgot-password">Glemt passordet ditt?</a></p>
                <button type="submit">Logg inn</button> -->
         
</body>
</html>